---
layout: home
title: Huang Lab
show-avatar: true
subtitle: Mycology, Ecology, Symbiosis
cover-img: 
- assets/img/Marasmus_down.jpg
- assets/img/IMGP7709.jpg
- assets/img/Cnestus_mutilatus_donw.JPG
- assets/img/Scolytus_gallery_down.JPG
- assets/img/IMGP9660_3.jpg
- assets/img/Pesotum_dissect.png
use-site-title: true
---
<h2>News & Blog</h2><br>

<div class="list-filters">
  <a type="button" class="btn btn-outline-secondary" href="/">All posts</a>
  <a type="button" class="btn btn-outline-secondary" href="/tags">Index</a>
</div>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
