---
layout: home
title: Huang Lab
show-avatar: true
subtitle: Mycology, Ecology, Symbiosis
cover-img: 
- assets/img/Marasmus_down.jpg
- assets/img/IMGP7709.jpg
- assets/img/Cnestus_mutilatus_donw.JPG
- assets/img/Scolytus_gallery_down.JPG
- assets/img/IMGP9660_3.jpg
- assets/img/Pesotum_dissect.png
use-site-title: true
---
{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
